@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
}

@layer components {
    .skill {
        padding: 8px 16px;
        font-size: 2rem;
        background-color: #f0f0f0;
        border-radius: 8px;
    }
}
